body
{
  height: 90vh;
  /* background-color: white; */
}
/* .giphy-embed {
  position: relative;
  height: 90vh;
  width: 90vh;
} */
.first_plan {
  z-index: 2;
}

/* .content {
  position: absolute;
  bottom: 1vh;
  background-image: url('../../../assets/gifs/Pong.gif');
  background-size: cover; 
  background-repeat: no-repeat; 
  width: 90%;
  height: 90vh; 
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  margin-left: 4.3vw;
  border-radius: 7px;
  z-index: 1;
} */
h1
{
  position: absolute;
  top: 13%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  font-size: xx-large;
}

#profile-container
{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 30%;
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 2;
}

#profile-image
{
  object-fit: cover;
  height: 15vw;
  width:  15vw;
  display: block;
  border: solid 3px black;
  border-radius: 50%;
}

#profile-stats
{
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: solid 1px white;
  border-radius: 14px;
  padding: 1vw 1vw;
  box-shadow: 0 4px 8px 0 #00000019, 0 6px 15px 0 #00000019;
  z-index: 10000;
  display: inline-block;
  font-size: large;
  font-family: 'Oswald', sans-serif;
}

#stats-wins
{
  display: inline;
  color: green;
}

#stats-loses
{
  color: #d91b1b;
  display: inline;
}

#left-gif-container
{
  top: 23%;
  left: 11%;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  position: absolute;
  text-align: center;
  display: inline;
  z-index: 2;
}

#right-gif-container
{
  top: 23%;
  right: 11%;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  position: absolute;
  text-align: center;
  display: inline;
  z-index: 2;
}

#gif
{
  object-fit: cover;
  height: 25vw;
  width:  20vw;
  display: block;
  border: solid 3px black;
  border-radius: 10px;
  background-color: #EEEDF2;

}

.button {
  box-shadow: 0 4px 8px 0 #00000016, 0 6px 15px 0 #00000016;
  margin-top: 7px;
  padding: 10px 17px 10px 17px;
  font: 15px 'Oswald', sans-serif;
  border: white 1px solid;
  background-color: white;
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
