<app-navbar></app-navbar>
<body>
<h1>PONGUENT</h1>
  <div id="profile-container">
    <img #profilePic id="profile-image" src="">
    <div id="profile-stats">
      <div #username id="profile-username">LOGIN</div> <!-- verifier avant qu'il n'est pas trop long-->
      <div #statsWins id="stats-wins">100W </div>
      <div #statsLoses id="stats-loses">2L </div>
      <div #statsElo id="stats-elo">100 ELO</div>
    </div>
  </div>
  <div id="pong-demo-container">
    <img id="pong-gif" src="assets/gifs/template.gif">
    <button class="button" (click)="navToLobby()">Try our pong game</button>
  </div>
  <div id="chat-demo-container">
    <img id="chat-gif" src="assets/gifs/template.gif">
    <button class="button" (click)="navToChat()">Chat with your friends</button>
  </div>
</body>
