<h1 mat-dialog-title>Join Channel</h1> <!--Titre a l'interieur du dialog-->
<div mat-dialog-content> <!--  Represente le dialog-->
<!--  Moi j'ai mis un form ici mais tu as peut etre autre chose pour recuperer l'input de l'utilisateur-->
  <form (submit)="saveData()">
    <mat-form-field>
      <input matInput placeholder="channel name" [(ngModel)]="data">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="password (optional)" [(ngModel)]="data">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions> <!--Div pour les deux boutons a l'interieur du dialog-->
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="saveData()">Save</button>
</div>