<app-navbar></app-navbar>
<body>
<div id="container">


            <div id="column_room_user">

                <div id="name_room_user">

                    <div class="room_name">
                        <p>Channels</p>
                    </div>

                    <div class="room_user">
                        <p >Users</p>
                    </div>

                </div>

                <div id="row_room_user">

                    <div id="column_room">
                        
                        <div id="row_room_name_bnt">

                            <div class="all_room_name">
                              <div class="cross_room_name">

                              </div>
                              <div class="name_room_name">

                              </div>
                              <!-- <div class="room-item" *ngFor="let room of rooms" (click)="enterInRoom()">
                                <p>{{ room.name }}</p>
                              </div> -->
                            </div>
    
    
                            <div class="bnt_create_join">
    
                                <div class="bnt_create">
                                    <button class="button" id="buttonPortalGame" (click)="openDataCreateRoom()">Create Room</button>
                                </div>
                                <div class="bnt_join">
                                    <button class="button" id="buttonNormalGame" (click)="openDataJoinRoom()">Join Room</button>
                                </div>
        
                            </div>

                        </div>
 
                    </div>

                    <div id="column_user">

                        <div class="room-avatar" *ngFor="let user of users">

                            <div class="avatar_on_off">
                                <div class="avatar_user">
                                    <img class="img_meter" src="{{ user.avatar }}" alt="avatar">
                                </div>
                                <div class="online_offline">
                                    <img src="{{ user.status }}" alt="">
                                </div>
                                </div>
                                <div class="name_user">

                                    <div class="use_name_user">
                                        <p>{{ user.username }}</p>
                                    </div>

                                </div>
                                
                                <div class="sidebar_user">
                                    <div class="triple_bnt">

                                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                            <mat-icon>more_vert</mat-icon>
                                          </button>
                                          <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="viewProfilUser(user.userId)">
                                              <mat-icon>account_circle</mat-icon>
                                              <span>View Profil</span>
                                            </button>
                                            <button mat-menu-item >
                                                <mat-icon>person_add</mat-icon>
                                                <span>Send Private Message</span>
                                              </button>
                                            <button mat-menu-item>
                                                <mat-icon>sports_esports</mat-icon>
                                                <span>Classic Game</span>
                                              </button>
                                            <button mat-menu-item>
                                                <mat-icon>gamepad</mat-icon>
                                                <span>Portal Game</span>
                                              </button>
                                              <button mat-menu-item>
                                                <mat-icon>block</mat-icon>
                                                <span>Block</span>
                                              </button>
                                          </mat-menu>
                                    </div>
                                  </div>
                            
                        </div>
                    </div>

                </div>

            </div>



            <div id="column_chat">

                    <div class="top_bar_msg">
 
                        <div class="channel_name">
                             <p></p> 
                        </div> 

                        <div class="settings" *ngIf="settingsVisible">
            
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>settings</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openDataMute()" *ngIf="boutonsAdminVisible">
                                  <mat-icon>do_not_disturb_on_total_silence</mat-icon>
                                    <span>Mute</span>
                                  </button>
                                  <button mat-menu-item (click)="openDataUnMute()" *ngIf="boutonsAdminVisible">
                                    <mat-icon>radio_button_unchecked</mat-icon>
                                      <span>UnMute</span>
                                    </button>
                                  <button mat-menu-item (click)="openDataBan()" *ngIf="boutonsAdminVisible">
                                    <mat-icon>close</mat-icon>
                                    <span>Ban</span>
                                  </button>
                                  <button mat-menu-item (click)="openDataUnBan()" *ngIf="boutonsAdminVisible">
                                    <mat-icon>check</mat-icon>
                                    <span>UnBan</span>
                                  </button>
                                  <button mat-menu-item (click)="openDataKick()" *ngIf="boutonsAdminVisible">
                                    <mat-icon>remove</mat-icon>
                                    <span>Kick</span>
                                  </button>
                                  <button mat-menu-item (click)="addRemovePassword()" *ngIf="boutonsAdminVisible">
                                    <mat-icon>lock</mat-icon>
                                    <span>Password</span>
                                  </button>
                                  <button mat-menu-item (click)="openDataAddAdmin()" *ngIf="boutonsAdminVisible">
                                    <mat-icon>admin_panel_settings</mat-icon>
                                    <span>Add Admin</span>
                                  </button>
                                  <button mat-menu-item (click)="openDataRemoveAdmin()" *ngIf="boutonsAdminVisible">
                                    <mat-icon>cancel</mat-icon>
                                    <span>Remove Admin</span>
                                  </button>
                                  <button mat-menu-item (click)="leaveRoom()">
                                    <mat-icon>logout</mat-icon>
                                    <span>Leave</span>
                                  </button>
                            </mat-menu>
                        </div>

                      </div>

                    <div class="content_msg" id="content_msg_id">
  
                          <li class="message" *ngFor="let message of messages">
                            <div
                            *ngIf="
                            (message.user).userId != myUserId;
                            then outgoing_msg;
                            else incoming_msg
                            "
                            ></div>
                            
                            <ng-template #incoming_msg>
                              
                              <div class="right_incoming_msg">
                                
                                
                                
                                
                                <div class="incoming_msg">
                                  
                                  <div class="column_received_msg">
                                    
                                    <div class="user_received_msg">
                                      <p><b>{{message.user.username}}</b></p>
                                    </div>
                                    
                                  </div>
                                  
                                  <div class="right_incoming_msg">
                                    
                                    <div class="incoming_msg_img">
                                      <img class="img_incoming_msg_img" src="{{(message.user).avatar}}" alt="User avatar"/>
                                    </div>
                                    
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="right_incoming_msg">
                                <div class="received_msg">
                                  <div class="received_withd_msg">
                                    <p class="inside_content">{{ message.content }}</p>
                                  </div>
                                </div>
                              </div>
                                

                            </ng-template>









                            <ng-template #outgoing_msg>

                              <div class="outgoing_msg">
                                
                                <div class="left_outgoing_msg">

                                  <div class="outgoing_msg_img">
                                    <img class="img_outgoing_msg_img" src="{{(message.user).avatar}}" alt="User avatar"/>
                                  </div>

                                </div>

                                <div class="column_received_msg_outgoing">

                                  <div class="user_received_msg_outgoing">
                                    <p><b>{{message.user.username}}</b></p>
                                  </div>

                                </div>

                              </div>

                              <div class="received_msg_outgoing">
                                <div class="received_withd_msg_outgoing">
                                  <p class="inside_content_outgoing">{{ message.content }}</p>
                                </div>
                              </div>

                            </ng-template>


                            <!-- <ng-template #outgoing_msg>
                              <div class="outgoing_msg">
                                <div class="sent_msg">
                                  <p>{{ message.content }}</p>
                                </div>
                              </div>
                            </ng-template> -->
                            
                          </li>

                    </div>


                <div class="write_bar" >

                    <div class="type_msg">
                        <form class="input_msg_write" (keydown.enter)="sendMessage()">
                          <input
                            type="text"
                            class="write_msg"
                            placeholder="Ecrit chef"
                            name="newMessage"
                            [(ngModel)]="messageContent"
                          />
                          <button matInput class="msg_send_btn" type="button" (click)="sendMessage()" (keyup.enter)="sendMessage()">
                            <img class="send_msg" src="../../../assets/images/send.png" alt="send">
                          </button>
                        </form>
                      </div>

                </div>
                  
            </div>

    </div>
</body>
