body
{
  height: 90vh;
  place-items: center;
  display: grid;
}

#container
{
  background-color: white;
  border: solid 1px white;
  border-radius: 14px;
  display: flex;
  padding: 7px;
  width: 80vw;
  height: 70vh;
  max-height: 530px;
  min-height: 470px;
  min-width: 1000px;
  max-width: 1350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  /* place-items: center; */
}

#column_room_user {
  /* display: flex; */
  flex: 0.40;
}


#column_chat {
  /* background-color: yellow; */
  /* width: 60%;
  height: 100%; */
  flex: auto;
  padding: 2px;
  border-left: 1px solid #EEEDF2FF;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#name_room_user {
  /* background-color: yellow; */
  /* border-radius: 7px; */
  width: 100%;
  height: 9%;
  display: flex;
  /* border-bottom: 1px solid #EEEDF2FF; */
}

#row_room_user {
  width: 100%;
  height: 91%;
  display: flex;
}

#column_room {
  /* background-color: aqua; */
  /* width: 20%;
  height: 100%; */
  flex: 0.40;
  padding: 2px;
}

#row_room_name_bnt {
  /* background-color: red; */
  width: 100%;
  height: 100%;
}

.all_room_name {
  /* background-color: yellow; */
  width: 100%;
  height: 85%;
  overflow: auto;
  overflow-x: hidden;
  justify-content: center;
}

.bnt_create_join {
  width: 100%;
  height: 15%;
  display: flex;
  padding-bottom: 7px;
}

.bnt_create {
  flex: 0.5;
  margin: 2px;
}

.bnt_join {
  flex: 0.5;
  margin: 2px;

}

#buttonNormalGame:hover
{
  background-color: #27A64BFF;
  border: solid 3px #27A64BFF;
}

#buttonPortalGame:hover
{
  background-color: #5583F1FF;
  border: solid 3px #5583F1FF;
}

#buttonNormalGame
{
  background-color: #27A64BFF;
  border: solid 1px #27A64BFF;
}

#buttonPortalGame
{
  background-color: #5583F1FF;
  border: solid 1px #5583F1FF;
}

.button {
  box-shadow: 0 4px 8px 0 #00000016, 0 6px 15px 0 #00000016;
  padding: 10px 17px 10px 17px;
  margin-top: 4px;
  font: 15px 'Oswald', sans-serif;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}
#column_user {
  /* background-color: green; */
  /* width: 20%;
  height: 100%; */
  border-left: 1px solid #EEEDF2FF;
  /* border-right: 1px solid #EEEDF2FF; */
  overflow: auto;
  /* border-color: grey; */
  justify-content: center;
  
  flex: 0.60;
  padding: 2px;
}
.room_name {
  background-color: #27A64BFF;
  color: white;
  font: 15px 'Oswald', sans-serif;
  flex: 0.40;
  text-align: center;
  /* border-right: 1px solid #EEEDF2FF; */
  padding: 2px;
  margin: 2px;
  /* border-top-left-radius: 7px;
  border-bottom-left-radius: 7px; */
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 #00000016, 0 6px 15px 0 #00000016;
  /* transition: 0.5s; */
  /* justify-content: center; */
}

.room_user {
  background-color: #5583F1FF;
  /* display: flex; */
  color: white;
  font: 15px 'Oswald', sans-serif;
  flex: 0.60;
  text-align: center;
  padding: 2px;
  margin: 2px;
  /* border-top-right-radius: 7px; */
  /* border-bottom-right-radius: 7px; */
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 #00000016, 0 6px 15px 0 #00000016;
  /* transition: 0.5s; */
  /* border-bottom: 1px solid #EEEDF2FF; */
  /* justify-content: center; */
  align-items: center;
}

/* .room_user:hover .room_name:hover {
  font: 20px 'Oswald', sans-serif;
} */

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.send_msg {
  width: 37px;
  height: 37px;
}

.send_msg:hover {
  width: 70px;
  height: 70px;
}

.type_msg {
  border-top: 1px solid #EEEDF2FF;
  position: relative;
}

.msg_send_btn:hover {
  height: 70px;
  width: 70px;
  top: -20px;
}

.msg_send_btn {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  right: 5px;
  top: 10px;
  height: 40px;
  width: 40px;
}

.content_msg {
  flex: 0.9;
  overflow-x: hidden;
  overflow-y: scroll;
}

.write_bar {
  flex: 0.1;
}

/*
#buttonNormalGame
{
  background-color: #27A64BFF;
  border: solid 1px #27A64BFF;
  margin-right: 7px;
}

#buttonPortalGame
{
  background-color: #5583F1FF;
  border: solid 1px #5583F1FF;
} */

/* .button {
  box-shadow: 0 4px 8px 0 #00000016, 0 6px 15px 0 #00000016;
  padding: 10px 17px 10px 17px;
  font: 15px 'Oswald', sans-serif;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:hover {
  font: 20px 'Oswald', sans-serif;
} */

.top_bar_msg {
  display: flex;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #EEEDF2FF;
}

.channel_name {
  font: 20px 'Oswald', sans-serif;
  text-align: center;
  flex: auto;
}

.settings {
  flex: 0.07;
  position: relative;
  bottom: 8px;
}

.room-avatar {
  width: 95%;
  height: 40px;
  padding: 5px;
  font-size: 18px;
  margin-bottom: 5px;
  background-color: #FEEAA1;
  color: grey;
  border-radius: 7px;
  display: flex;
}

.avatar_on_off {
flex: 0.3;
}

.name_user {
flex: 0.6;
text-align: center;
}

.use_name_user {
  position: relative;
  top: 9px;
}
.sidebar_user {
flex: 0.1;
}

.triple_bnt {
  position: relative;
  bottom: 4px;
  color: black;
}

.img_meter {
width: 40px;
height: 40px;
}

.online_offline {
position: relative;
bottom: 18px;
left: 27px;
}


.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
