
<div class="center">

    <h1 mat-dialog-title>Password</h1> <!--Titre a l'interieur du dialog-->
    <div mat-dialog-content> <!--  Represente le dialog-->
      <form (submit)="saveData()">
        <mat-form-field>
          <input matInput placeholder="old password" [(ngModel)]="data.oldPassword" name="oldPassword">
        </mat-form-field>
        <h6>*If the channel does not have a password, you do not need to fill in the "old password" box.</h6>
        <mat-form-field>
          <input matInput placeholder="new password" [(ngModel)]="data.newPassword" name="newPassword">
        </mat-form-field>
        <h6>*Don't put anything to remove the password</h6>
      </form>
    </div>
    <div class="center" mat-dialog-actions> <!--Div pour les deux boutons a l'interieur du dialog-->
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-button (click)="saveData()">Save</button>
    </div>

</div>