body
{
  height: 1vh;
  justify-items: center;
  display: grid;
}

#navbar-container
{
  position: relative;
  background-color: white;
  border: solid 1px white;
  border-radius: 14px;
  padding: 7px;
  box-shadow: 0 4px 8px 0 #00000019, 0 6px 15px 0 #00000019;
  place-items: center;
  z-index: 10000;
}

.button {
  padding: 10px 17px 10px 17px;
  font: 15px 'Oswald', sans-serif;
  color: black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: solid 1px white;
  background-color: white;
  transition: 0.5s;
}

.button:hover
{
  font: 20px 'Oswald', sans-serif;
  color: #EEEDF2FF;
}

#logout-container
{
  position: absolute;
  display: inline-block;
  background-color: white;
  border: solid 1px white;
  border-radius: 14px;
  padding: 7px;
  box-shadow: 0 4px 8px 0 #00000019, 0 6px 15px 0 #00000019;
  left: 1%;
  z-index: 10000;
}
