<app-navbar></app-navbar>
<app-friends-menu-temporary></app-friends-menu-temporary>
<body>
  <div id="leaderboard-list-container">
    <ul #leaderboardList id="leaderboard-list">
    </ul>
  </div>
  <div id="match-history-list-container">
    <div #noMatchHistory id="no-match-history">
      Play at least one game to view your match history
    </div>
   <ul #matchHistoryList id="match-history-list">
   </ul>
  </div>
  <div id="profile-container">
    <img #profilePic id="profile-pic" src="">
    <div id="profile-stats">
      <div #username id="username"></div>
      <div #statsWin id="stats-wins"></div>
      <div #statsLose id="stats-loses"></div>
      <div #statsElo id="stats-elo"></div>
    </div>
    <button id="modify-profile" (click)="navToProfileConfig()">Modify your profile</button>
  </div>
</body>
