<app-navbar></app-navbar>
<body>
    <div #field id="field">
      <div #countdown id="countdown"></div>
      <div #transparent id="transparent"></div>
      <div #teleport></div>
      <div #portal id="portal">
        <div id="portal-inner">
          <div id="portal-glow"></div>
          <div id="portal-overlay"></div>
        </div>
      </div>
      <div id="mid_line"></div>
      <div #ball id="ball"></div>
      <div #paddle1 id="paddle1" class="paddle"></div>
      <div #paddle2 id="paddle2" class="paddle"></div>
      <div #matchmaking_message id ="matchmaking_message">Waiting for players...</div>
      <div #p1_victory_message id ="p1_victory_message">Player 1 wins !</div>
      <div #p2_victory_message id ="p2_victory_message">Player 2 wins !</div>
    </div>
    <div #cancelButton id="cancelButton" (click)="cancelMatchmaking()">Cancel matchmaking</div>
</body>
